<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!--系统日志开始-->
    <logger name="SystemLog">
      <level value="ALL" />
      <appender-ref ref="SystemAppender" />
    </logger>
    <appender name="SystemAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log\Debug\" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value=" ------------------------------------------------ " />
      </layout>
    </appender>
    <!--系统日志结束-->
    <!--自定义日志开始-->
    <logger name="CustomLog">
      <level value="INFO" />
      <appender-ref ref="CustomAppender" />
    </logger>
    <appender name="CustomAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log\Custom\" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--自定义日志结束-->
    <!--控制台日志开始-->
    <logger name="DebugLog">
      <level value="ALL" />
      <appender-ref ref="consoleAppender" />
    </logger>
    <appender name="consoleAppender" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--控制台日志结束-->
  </log4net>
  <appSettings>
    <!--数据库配置开始-->
    <add key="ProviderName" value="System.Data.OleDb" />
    <add key="IsInstall" value="false" />
    <add key="DBPath" value="" />
    <add key="LoginType" value="1" />
    <add key="ServerName" value="." />
    <add key="DBName" value="HPTGMS_5_6" />
    <add key="UserName" value="sa" />
    <add key="Password" value="" />
    <add key="Version" value="1" />
    <add key="UpdateFile" value="hpt.gate.update.V2.7.4_1.sql" />
    <add key="DbBackupPath" value="C:" />
    <add key="AutoBackupData" value="true" />
    <!--数据库配置结束-->
    <!--软件功能配置开始-->
    <add key="LocalIPAddress" value="192.168.0.100" />
    <add key="LocalPort" value="30000" />
    <add key="LedEnabled" value="false" />
    <add key="FaceEnabled" value="false" />
    <add key="FingerPrintEnabled" value="false" />
    <add key="FingerPrintType" value="0" />
    <add key="FaceMachine" value="0" />
    <add key="SynCardEnabled" value="false" />
    <add key="LedNumberLength" value="3" />
    <add key="CameraEnabled" value="false" />
    <add key="RealTimeEnabled" value="false" />
    <add key="AutoClearEnabled" value="false" />
    <add key="AutoClearTime" value="23:59" />
    <add key="LimitedTotalEnabled" value="false" />
    <add key="LimitedTotalOfInside" value="100" />
    <add key="AttendModel" value="0" />
    <add key="NetCamType" value="0" />
    <!--软件功能配置结束-->
    <!--其他配置开始-->
    <add key="LastPath" value="C:" />
    <add key="RightsType" value="0" />
    <!--其他配置结束-->
    <!--Lcd配置开始-->
    <add key="LcdTitle" value="欢迎使用通道闸系统" />
    <add key="LcdCamOfIn" value="0" />
    <add key="LcdCamOfOut" value="0" />
    <!--Lcd配置结束-->
    <add key="JMSServer" value="134.175.147.220:61616" />
    <add key="JMSAccount" value="douzi" />
    <add key="JMSPassword" value="DVB8ycjkkA@J7ph" />
    <add key="JMSFilter" value="yz" />
    <add key="JMSClient" value="HPTGMS001" />
    <add key="ServerURL" value="http://dongkou.yjclass.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
