<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--数据库配置开始-->
    <add key="IsInstall" value="false"/>
    <add key="LoginType" value="1"/>
    <add key="ServerName" value="."/>
    <add key="DBName" value="HPTGMS_5_6"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value=""/>
    <add key="ProviderName" value="System.Data.OleDb"/>
    <!--数据库配置结束-->
    <!--读卡器配置开始-->
    <add key="ICCardReaderType" value="1"/>
    <add key="ICEnabled" value="true"/>
    <add key="ICPort" value="COM1"/>
    <add key="IDSerialEnabled" value="false"/>
    <add key="IDSerialPort" value="COM1"/>
    <add key="IDCardEnabled" value="COM1"/>
    <add key="USBEnabled" value="false"/>
    <add key="WGType" value="1"/>
    <!--读卡器配置结束-->
    <!--考勤规则设置开始-->
    <add key="AttendBeginTime" value="04:00"/>
    <add key="AttendEndDay" value="1"/>
    <add key="AttendEndTime" value="04:00"/>
    <add key="BeginTime2" value="17:00"/>
    <add key="EndTime2" value="22:00"/>
    <add key="Hours2" value="180"/>
    <!--考勤规则设置结束-->

    <!--二维码配置开始-->
    <add key="BarcodeDeviceList" value=""/>
    <add key="BarcodeTimesOfIn" value="0"/>
    <add key="BarcodeTimesOfOut" value="0"/>
    <add key="BarcodeEffectTime" value="1"/>
    <add key="BarcodeContent" value="       欢迎光临XX公司     本条形码只作为本公司的出入凭证,过有效期或限制次数之后自动作废,不做其他用途.     本条形码只能本人使用,不得转借他人。"/>
    <!--二维码配置结束-->
    <!--导入设置开始-->
    <add key="DeptImportType" value="0"/>
    <add key="EmpImportType" value="0"/>
    <add key="CardImportType" value="0"/>
    <add key="CardType" value="0"/>
    <add key="LastImportPath" value="C:"/>
    <!--导入设置结束-->
    <!--导入卡属性开始-->
    <add key="TicketType" value="1"/>
    <add key="BeginDate" value="2017-01-01"/>
    <add key="EndDate" value="2099-01-01"/>
    <add key="LastPath" value="d:"/>
    <!--导入卡属性结束-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
