<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--发卡器配置开始-->
    <add key="ICCardEnabled" value="true" />
    <add key="IC_Enabled" value="true" />
    <add key="IC_SerialPort" value="COM1" />
    <add key="IC_Port" value="38400"/>
    <add key="IC_IDSerialEnabled" value="false" />
    <add key="IC_IDSerialPort" value="" />
    <add key="IC_USBEnabled" value="false" />
    <add key="USBType" value="0" />
    <add key="ICAndIDSerialEnabled" value="false" />
    <add key="IDSerialPort" value="" />
    <add key="IDCardType" value="0" />
    <!--发卡器配置结束-->
  </appSettings>
</configuration>